* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    font-family: 'Roboto';
}
.title {
    height: 30px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 30.52px;
}
.blue {
    color: cornflowerblue;
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
    height: 20px;
}
.sect2-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
}
.roboto900 {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 30px;
}
.sect1 {
    background-color: darkslategray;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.sect2 {
    margin-top: 50px;
}
.sect3 {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}
.sect4 {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    width: 1600px;
}
.img {
    margin-left: 30px;
}
.card {
    margin-left: 55px;
}
.button {
    width: 216px;
    height: 50px;
    background-color: cornflowerblue;
    color: white;
    border: 1px solid cornflowerblue;
}
.roboto70016px {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
}
.roboto70014px {
    font-weight: 700;
    font-size: 14px;
    line-height: 16.41px;
}
.roboto40014px {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.roboto70036px {
    font-weight: 700;
    font-size: 36px;
    line-height: 42.19px;
    text-align: center;
    margin-top: 70px;
    width: 380px;
}
.chim {
    display: flex;
    justify-content: center;
}
.nasha {
    display: flex;
    justify-content: center;
}
.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 42.19px;
    text-align: center;
    margin-top: 165px;
    width: 380px;
}
.roboto50016px {
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
}
.roboto40016px {
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
}
.header {
    display: flex;
    justify-content: space-around;
    width: 1600px;
    height: 80px;
    margin-top: 40px;
}
.footer {
    background-color: darkslategray;
    color: white;
    margin-top: 100px;
    flex-direction: column;
    height: 252px;
}
.footer-inform {
    margin-left: 200px;
    padding-top: 65px;
}
.container {
    display: flex;
    justify-content: space-around;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .no-scroll {
    overflow: hidden;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    max-width: 528px;
    padding: 40px;
  }
  .form-modal-input, .form-modal-textarea {
    width: 100%;
  }
  .form-modal-textarea {
    height: 120px;
    padding: 12px 16px;
    margin-top: 4px;
  }
  .form-modal-input {
    height: 40px;
    margin-top: 4px;
  }
  .modal-text {
    margin-bottom: 12px;
  }
  .form-modal-label {
    margin-bottom: 10px;
    display: block;
  }
  .privacy-box {
    display: flex;
    gap: 8px;
    margin-top: 20px;
  }
  .modal-btn {
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    border-radius: 4px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }